
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#root {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  ul, > div div {
    display: inline-block !important;
    width: 49% !important;
    vertical-align: top;
  }
}